*{
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    scroll-padding-top: 4rem;
    list-style: none;
    text-decoration: none;
}
/* variables*/
:root{
    --main-color:#2288ff;
    --second-color:#192f6a;
    --text-color:#314862;
    --bg-color:#fff;
    --box-shadow:2px 2px 18px rgba(14 52 54 /15%);
}
body{
    color:var(--text-color);
}
img{
    width:100%;
}
section{
    padding:4.5rem 0 3rem;
}
.container{
    max-width:1068px;
    margin-left:auto;
    margin-right:auto;
}
header{
    display: block;
    width: 100%;
    background-color: var(--bg-color);
    position:fixed;
    top:0;
    left:0;
    z-index: 100;
}
.nav-container{
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding:20px 35px;
}
.logo{
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
    font-size: 1rem;
    font-weight:700;
    color:var(--text-color);
    text-transform: uppercase;
}
.logo .bx{
    font-size:24px;
    color:var(--main-color);
}
.navbar{
    display: flex;
}
.navbar a{
    padding:8px 17px;
    color:var(--text-color);
    font-size:1rem;
    text-transform: uppercase;
    font-weight: 500;
}
.navbar a:hover{
    color:var(--main-color);
}
#menu-icon{
    font-size: 24px;
    cursor:pointet;
    display:none;
}
#menu{
    display:none;
}
.btn{
    padding:8px 22px;
    background-color: var(--main-color);
    color:var(--bg-color);
    border-radius: 5rem;
}
.btn:hover{
    background:#3492fd;
}
/*home*/
.home-container{
    margin-top:5rem;
    background-image: url("../img/home.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    height:460px;
    border-radius:1.5rem;
    display: flex;
    align-items: center;
    max-width:1068px;
    margin-left:auto;
    margin-right:auto;
}
.home-text{
    padding-left:35px;
}
.home-text h1{
    color:var(--bg-color);
    font-size:2rem;
    margin-bottom: 1rem;
}
.about{
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(18rem,auto));
    gap:2rem;
}
.about-img img{
    border-radius:3rem 0 3rem 3rem;
}
.about-text span{
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 500;
    color:var(--main-color);
}
.about-text h2{
    margin-top: 10px;
    font-size: 1.7rem;
    line-height:2.3rem;
}
.about-text p{
    font-size: 0.938rem;
    margin: 1rem 0 1rem;
}
.sales-container{
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(240px,auto));
    gap:3.5rem;
    margin-left:50px;
}
.sales-container .box{
    padding:20px;
    background: var(--bg-color);
    box-shadow: var(--box-shadow);
    text-align: center;
    border-radius: 2rem;
    margin-right: 16px;
}
.sales-container .box:hover{
    background: var(--main-color);
    color:var(--bg-color);
    transition: 0.4s all linear;
}
.sales-container .box .bx{
    padding:10px;
    border-radius: 50%;
    background: #f6f6fe;
    color:var(--main-color);
    font-size: 20px;
}
.sales-container p{
    line-height: 1.5rem;
    font-size: 0.938rem;
}
.sales-container h3{
    font-size: 1.1rem;
    margin-top:8px;
}
/*properties*/
.heading{
    text-align: center;
    margin-bottom: 2rem;
    line-height:1.5rem;
}
.heading span{
    font-weight: 500;
    color: var(--main-color);
    margin-bottom: 9px;
}
.heading h2{
    font-size: 1.7rem;
}
.heading p{
    font-size: 0.938rem;
}
.properties{
background-color: #fbfbfb;
border-radius: 2rem;
}
.properties-container{
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(240px,auto));
    gap:7.5rem;
    padding:0 50px;
    margin-top: 20px;
}
.properties-container .box{
background-color: var(--bg-color);
padding: 10px;
border-radius: 1rem;
box-shadow: var(--box-shadow);
height:370px;
}
.properties-container .box:hover{
    transform: translateY(-10px);
    transition: 0.5s;
}
.properties-container .box img{
    border-radius: 1rem;
    height: 220px;
    object-fit: cover;
    object-position: center;
}
.properties-container .box h3{
    font-size: 1rem;
    font-weight: 600;
    float: right;
    margin-top: 8px;
}
.properties-container .box .content{
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
}
.properties-container .box .content .text{
    line-height: 20px;
}
.properties-container .box .content .text h3{
font-weight: 500;
}
.properties-container .box .content .text p{
    font-size: 0.8rem;
}
.properties-container .box .content .icon{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.properties-container .box .content .icon .bx{
    display: flex;
    align-items: center;
    font-size: 20px;
}
.properties-container .box .content .icon span{
    font-size: 12px;
    font-weight: 500;
    margin-left: 4px;
}